
  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>NFL Draft Express - 2018 Mock Draft</title>
      <link rel="stylesheet" href="/public/style.css">
    </head>
    <body>
      <h1 class="title">NFL MOCK DRAFT 2018</h1>
      <h3 class="roundTitle">Round 1</h3>
      <ol class="draftRounds">
        {{#picks}}
        <li class="selections">
          {{team}} {{tradedfrom}}- {{position}} {{player}} ({{college}})
        </li>
        <div class="images">
          <div class="nflLogo">
    			<img src= {{nfllogo}} class="nfllogoimg" style="width:{{collegelogo}};"/>
    		  </div>
    			<div class="playerPic">
    			<img src= {{playerpic}} class="playerimg"/>
    			</div>
        </div>
        {{/picks}}
      </ol>

    </body>
  </html>
