
  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>NFL Draft Express - Home</title>
      <link rel="stylesheet" href="/public/style.css">
    </head>
    <body>
      <h1>
        <h1 class="title">NFL DRAFT EXPRESS</h1>
        <h2 class="subtitle"> Recent Drafts:</h2>
        <h3 class="roundLink"><a href="/draft2017_round1">2017 NFL Draft</a></h3>

        <h2 class="subtitle"> Mock Drafts:</h2>
        <h3 class="roundLink"><a href="/draft2018_round1">2018 Mock NFL Draft</a></h3>
    </body>
  </html>
