
  body {
    font-family: "Helvetica", sans-serif;
    margin-left: 20px;
  }

  .title {
    margin-left: 30px;
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .roundLink {
    display: inline-block;
    margin-left: 60px;
  }

  .roundTitle {
    margin-left: 50px;
    text-decoration: underline;
  }

  .draftRounds {
    margin-left: 50px;
  }

  .selections {
    margin-bottom: 10px;
  }

  .roundLink {
    font-size: 20px;
    display: inline-block;
    margin-left: 75px;
    margin-top: 20px;
    margin-bottom: 40px;
    text-decoration: underline;
  }

  .roundLink:hover {
    color: red;
  }
